<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxh.mobile.dao.billInfoMapper">
  <resultMap id="BaseResultMap" type="com.yxh.mobile.entity.billInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="card_id" jdbcType="BIGINT" property="cardId" />
    <result column="month" jdbcType="INTEGER" property="month" />
    <result column="talk" jdbcType="INTEGER" property="talk" />
    <result column="sms" jdbcType="INTEGER" property="sms" />
    <result column="flow" jdbcType="INTEGER" property="flow" />
    <result column="talk_cost" jdbcType="DOUBLE" property="talkCost" />
    <result column="sms_cost" jdbcType="DOUBLE" property="smsCost" />
    <result column="flow_cost" jdbcType="DOUBLE" property="flowCost" />
    <result column="total_cost" jdbcType="DOUBLE" property="totalCost" />
    <result column="total_recharge" jdbcType="DOUBLE" property="totalRecharge" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, card_id, month, talk, sms, flow, talk_cost, sms_cost, flow_cost, total_cost, 
    total_recharge
  </sql>
  <select id="selectByExample" parameterType="com.yxh.mobile.entity.billInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from billinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from billinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from billinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yxh.mobile.entity.billInfoExample">
    delete from billinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yxh.mobile.entity.billInfo">
    insert into billinfo (id, card_id, month, 
      talk, sms, flow, talk_cost, 
      sms_cost, flow_cost, total_cost, 
      total_recharge)
    values (#{id,jdbcType=BIGINT}, #{cardId,jdbcType=BIGINT}, #{month,jdbcType=INTEGER}, 
      #{talk,jdbcType=INTEGER}, #{sms,jdbcType=INTEGER}, #{flow,jdbcType=INTEGER}, #{talkCost,jdbcType=DOUBLE}, 
      #{smsCost,jdbcType=DOUBLE}, #{flowCost,jdbcType=DOUBLE}, #{totalCost,jdbcType=DOUBLE}, 
      #{totalRecharge,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.yxh.mobile.entity.billInfo">
    insert into billinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cardId != null">
        card_id,
      </if>
      <if test="month != null">
        month,
      </if>
      <if test="talk != null">
        talk,
      </if>
      <if test="sms != null">
        sms,
      </if>
      <if test="flow != null">
        flow,
      </if>
      <if test="talkCost != null">
        talk_cost,
      </if>
      <if test="smsCost != null">
        sms_cost,
      </if>
      <if test="flowCost != null">
        flow_cost,
      </if>
      <if test="totalCost != null">
        total_cost,
      </if>
      <if test="totalRecharge != null">
        total_recharge,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cardId != null">
        #{cardId,jdbcType=BIGINT},
      </if>
      <if test="month != null">
        #{month,jdbcType=INTEGER},
      </if>
      <if test="talk != null">
        #{talk,jdbcType=INTEGER},
      </if>
      <if test="sms != null">
        #{sms,jdbcType=INTEGER},
      </if>
      <if test="flow != null">
        #{flow,jdbcType=INTEGER},
      </if>
      <if test="talkCost != null">
        #{talkCost,jdbcType=DOUBLE},
      </if>
      <if test="smsCost != null">
        #{smsCost,jdbcType=DOUBLE},
      </if>
      <if test="flowCost != null">
        #{flowCost,jdbcType=DOUBLE},
      </if>
      <if test="totalCost != null">
        #{totalCost,jdbcType=DOUBLE},
      </if>
      <if test="totalRecharge != null">
        #{totalRecharge,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yxh.mobile.entity.billInfoExample" resultType="java.lang.Long">
    select count(*) from billinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update billinfo
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.cardId != null">
        card_id = #{record.cardId,jdbcType=BIGINT},
      </if>
      <if test="record.month != null">
        month = #{record.month,jdbcType=INTEGER},
      </if>
      <if test="record.talk != null">
        talk = #{record.talk,jdbcType=INTEGER},
      </if>
      <if test="record.sms != null">
        sms = #{record.sms,jdbcType=INTEGER},
      </if>
      <if test="record.flow != null">
        flow = #{record.flow,jdbcType=INTEGER},
      </if>
      <if test="record.talkCost != null">
        talk_cost = #{record.talkCost,jdbcType=DOUBLE},
      </if>
      <if test="record.smsCost != null">
        sms_cost = #{record.smsCost,jdbcType=DOUBLE},
      </if>
      <if test="record.flowCost != null">
        flow_cost = #{record.flowCost,jdbcType=DOUBLE},
      </if>
      <if test="record.totalCost != null">
        total_cost = #{record.totalCost,jdbcType=DOUBLE},
      </if>
      <if test="record.totalRecharge != null">
        total_recharge = #{record.totalRecharge,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update billinfo
    set id = #{record.id,jdbcType=BIGINT},
      card_id = #{record.cardId,jdbcType=BIGINT},
      month = #{record.month,jdbcType=INTEGER},
      talk = #{record.talk,jdbcType=INTEGER},
      sms = #{record.sms,jdbcType=INTEGER},
      flow = #{record.flow,jdbcType=INTEGER},
      talk_cost = #{record.talkCost,jdbcType=DOUBLE},
      sms_cost = #{record.smsCost,jdbcType=DOUBLE},
      flow_cost = #{record.flowCost,jdbcType=DOUBLE},
      total_cost = #{record.totalCost,jdbcType=DOUBLE},
      total_recharge = #{record.totalRecharge,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yxh.mobile.entity.billInfo">
    update billinfo
    <set>
      <if test="cardId != null">
        card_id = #{cardId,jdbcType=BIGINT},
      </if>
      <if test="month != null">
        month = #{month,jdbcType=INTEGER},
      </if>
      <if test="talk != null">
        talk = #{talk,jdbcType=INTEGER},
      </if>
      <if test="sms != null">
        sms = #{sms,jdbcType=INTEGER},
      </if>
      <if test="flow != null">
        flow = #{flow,jdbcType=INTEGER},
      </if>
      <if test="talkCost != null">
        talk_cost = #{talkCost,jdbcType=DOUBLE},
      </if>
      <if test="smsCost != null">
        sms_cost = #{smsCost,jdbcType=DOUBLE},
      </if>
      <if test="flowCost != null">
        flow_cost = #{flowCost,jdbcType=DOUBLE},
      </if>
      <if test="totalCost != null">
        total_cost = #{totalCost,jdbcType=DOUBLE},
      </if>
      <if test="totalRecharge != null">
        total_recharge = #{totalRecharge,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yxh.mobile.entity.billInfo">
    update billinfo
    set card_id = #{cardId,jdbcType=BIGINT},
      month = #{month,jdbcType=INTEGER},
      talk = #{talk,jdbcType=INTEGER},
      sms = #{sms,jdbcType=INTEGER},
      flow = #{flow,jdbcType=INTEGER},
      talk_cost = #{talkCost,jdbcType=DOUBLE},
      sms_cost = #{smsCost,jdbcType=DOUBLE},
      flow_cost = #{flowCost,jdbcType=DOUBLE},
      total_cost = #{totalCost,jdbcType=DOUBLE},
      total_recharge = #{totalRecharge,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>